.nav-item{
    text-align: center;
}
body{
    background-color:#F2E9DC;
}
.nav-link{
    color: white;
    font-size: large;
}
.formacao{
    padding-top: 50px;
    text-align: center;
    font-size: 50px;
    color: #2B4422;
}
.ul{
    padding: 40px;
    font-weight: bold;
    display: inline-block;
}
.espaco{
    position: relative;
    top: -130px;
    left:15px;
}
.ulCurso{
    font-weight: bold;
    justify-content: space-between; /* Alinha os elementos com espaçamento igual entre eles */
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0;
}
.il{
    padding-left: 10px;
    font-weight: bold;
    font-size: 15px;
    line-height: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p{
    font-weight: lighter;
    font-style: italic;
    font-size: medium;
}
.curso{
    padding-top: 5px;
    margin-top: 10px;
}
@font-face {
    font-family: "winterbeauty";
    src: url("./font/winterbeauty-Script.otf") format("truetype");
}
.fonte-alterada {
    font-family: winterbeauty;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    justify-items: center;
    gap: 20px;
    padding-top: 55px;
    padding-bottom: 70px;
}
.footer{
    grid-area: footer;
    background-color: #769b6b;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 10px;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.footer p {
    margin: 0;
}
