.nav-item{
    text-align: center;
}
body{
    background-color:#F2E9DC;
}
.nav-link{
    color: white;
    font-size: large;
}
#apresentacao{
    font-size: 20px;
    padding-left: 25px;
    padding-top: 50px;
    font-weight: bold;
    color: #3B5E31;
    margin-bottom: 10px;
}
p{
    padding-right: 50px;
    margin: 25px;
}
.container {
    text-align: center; 
    padding: 20px; 
    width: 70%; 
    margin: 0 auto; 
}
strong{
    color: #3B5E31;
}
.link{
    width: 55px;
    height: 55px;
}
.btn{
    /*background-color: #73b45d;*/
    font-weight: bold;
}
.botao{
    padding-right: 85px;
    padding-top: 25px;
}
@font-face {
    font-family: "winterbeauty";
    src: url("./font/winterbeauty-Script.otf") format("truetype");
}
.fonte-alterada {
    font-family: winterbeauty;
    padding-top: 45px;
    padding-left: 422px;
    font-size: 40px;
    color: #406d30;
    margin-bottom: -40px;
}
#pych{
    width: 99px;
    height: 99px;
}
img{
    padding: 20px;
}
.containerLF{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-content: center; /* Centralizar a grade horizontalmente */
    padding: 30px;
    gap: 10px; /* Adicionar espaço entre as divs */
    max-width: 600px; /* Defina a largura máxima da grade */
    margin: 0 auto;
    padding-top: 2px;
}
.containerLF > img {
    padding-top: 100%;
    position: relative;
}
.footer{
    grid-area: footer;
    background-color: #769b6b;
    grid-template-columns: auto;
    grid-template-rows: auto;
    padding: 10px;
    color: white;
    text-align: center;
    padding: 20px 0;
}
.footer p {
    margin: 0;
}
